.how-we-work-section-one {
  width: 90%;
  margin: 70px auto;
  position: relative;
}

.how-we-work-section-one .how-section-one {
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 120px;
  position: relative;
}

.how-we-work-section-one .how-section-one .section-heading {
  width: 100%;
}

.how-we-work-section-one .how-section-one .section-heading .section-title {
  width: 700px;
  font-size: 48px;
  font-weight: 500;
  line-height: 58px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #0b57a5;
  margin: auto;
}

.how-we-work-section-one .how-section-one .section-heading .desc {
  width: 673px;
  margin: auto;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #1a202c83;
}

.how-we-work-section-one .how-section-one .how-cards {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 150px;
}

.how-we-work-section-one .how-section-one .how-cards .card-content {
  width: 90%;
  margin: auto;;
  display: flex;
  justify-content: space-around;
  gap: 20px;
  position: relative;
}

.how-we-work-section-one .how-section-one .how-cards .card-content .content {
  width: 554px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 60px;
  position: relative;
}

.how-we-work-section-one .how-section-one .how-cards .card-content .content .the-h {
  height: 74px;
  position: relative;
}

.how-we-work-section-one
  .how-section-one
  .how-cards
  .card-content
  .content
  .the-h
  .serial-no {
  font-size: 64px;
  font-weight: 900;
  line-height: 96px;
  letter-spacing: 0em;
  text-align: left;
  color: #0b58a53b;
}

.how-we-work-section-one
  .how-section-one
  .how-cards
  .card-content
  .content
  .the-h
  h3 {
  font-size: 40px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.800000011920929px;
  text-align: left;
  color: #0b57a5;
  position: absolute;
  left: 0;
  bottom: 0;
}

.how-we-work-section-one .how-section-one .how-cards .card-content .content p {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #1a202c8a;
}

.how-we-work-section-one .how-section-one .how-cards .card-content .content button {
  width: 157px;
  height: 44px;
  border-radius: 4px;
  padding: 0 20px 0 20px;
  background: #0b57a5;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: center;
  cursor: pointer;
}

.how-we-work-section-one .how-section-one .how-cards .card-content .img {
  width: 534px;
  height: 437px;
  border-radius: 12px;
}

.how-we-work-section-one .how-section-one .how-cards .card-content .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.how-we-work-section-one .how-section-one .how-cards .card-content.left {
  display: flex;
  flex-direction: row-reverse;
}

.how-we-work-section-one .how-section-one .how-cards .card-content .how-dots {
  position: absolute;
  top: -65px;
  right: 0px;
}

.how-we-work-section-one .how-section-one .how-cards .card-content .how-dots.left {
  position: absolute;
  top: -65px;
  left: 0px;
}

.how-we-work-section-two {
  width: 100%;
}

.how-we-work-section-two .how-section-two {
  width: 100%;
  height: 454px;
  position: relative;

}

.how-we-work-section-two .how-section-two img {
  width: 100%;
  height: 100%;
}

.how-we-work-section-two .how-section-two .content {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.how-we-work-section-two .how-section-two .content h2 {
  width: 80%;
  color: #fff;
  font-size: 52px;
  font-weight: 500;
  line-height: 78px;
  letter-spacing: -0.02em;
  text-align: center;
}

.how-we-work-section-two .how-section-two .content button {
  width: 157px;
  height: 44px;
  color: #fff;
  background: #fe5600;
  border: none;
}

/* Media queries */

@media screen and (max-width: 1310px) {
  .how-we-work-section-one .how-section-one .how-cards .card-content .how-dots {
    width: 100px;
    height: 120px;
    top: -65px;
    right: -12px;
  }

  .how-we-work-section-one
    .how-section-one
    .how-cards
    .card-content
    .how-dots.left {
    top: -65px;
    left: -12px;
  }
}

@media screen and (max-width: 1222px) {
  .how-we-work-section-one .how-section-one .section-heading {
    width: 90%;
    margin: 0 auto;
  }

  .how-we-work-section-one .how-section-one .section-heading .section-title {
    width: 70%;
    font-size: 42px;
    line-height: 50px;
  }
}

@media screen and (max-width: 1173px) {
  .how-we-work-section-one .how-section-one .how-cards {
    gap: 100px;
  }

  .how-we-work-section-one .how-section-one .how-cards .card-content .how-dots {
    width: 100px;
    height: 120px;
    top: -45px;
    right: -45px;
  }

  .how-we-work-section-one
    .how-section-one
    .how-cards
    .card-content
    .how-dots.left {
    top: -45px;
    left: -45px;
  }
}

@media screen and (max-width: 1150px) {
  .how-we-work-section-one .how-section-one .section-heading .section-title {
    font-size: 35px;
    line-height: 50px;
  }
}

@media screen and (max-width: 1122px) {
  .how-we-work-section-one .how-section-one .how-cards .card-content .how-dots {
    width: 100px;
    height: 120px;
    top: -25px;
    right: -35px;
  }

  .how-we-work-section-one
    .how-section-one
    .how-cards
    .card-content
    .how-dots.left {
    top: -25px;
    left: -35px;
  }

  .how-we-work-section-one .how-section-one .how-cards {
    gap: 60px;
  }
}

@media screen and (max-width: 1027px) {
  .how-we-work-section-one .how-section-one .how-cards .card-content {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    position: relative;
  }

  .how-we-work-section-one .how-section-one .how-cards .card-content .content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    position: relative;
  }

  .how-we-work-section-one
    .how-section-one
    .how-cards
    .card-content
    .content
    .the-h {
    height: 74px;
    position: relative;
  }

  .how-we-work-section-one
    .how-section-one
    .how-cards
    .card-content
    .content
    .the-h
    .serial-no {
    font-size: 50px;
    font-weight: 900;
    line-height: 96px;
  }

  .how-we-work-section-one
    .how-section-one
    .how-cards
    .card-content
    .content
    .the-h
    h3 {
    font-size: 30px;
    line-height: 24px;
    left: 10px;
  }

  .how-we-work-section-one .how-section-one .how-cards .card-content .content p {
    font-size: 16px;
    line-height: 24px;
  }

  .how-we-work-section-one
    .how-section-one
    .how-cards
    .card-content
    .content
    button {
    width: 157px;
    height: 44px;
    font-size: 16px;
    line-height: 24px;
  }

  .how-we-work-section-two .how-section-two .content h2 {
    width: 80%;
    font-size: 45px;
    line-height: 78px;
  }
}

@media screen and (max-width: 1069px) {
  .how-we-work-section-one
    .how-section-one
    .how-cards
    .card-content
    .content
    .the-h
    h3 {
    font-size: 28px;
  }
}

@media screen and (max-width: 1010px) {
  .how-we-work-section-one
  .how-section-one
  .how-cards
  .card-content
  .content {
    gap: 20px;
  }
}

@media screen and (max-width: 1000px) {
  .how-we-work-section-one .how-section-one .how-cards .card-content .img {
    width: 50%;
  }

  .how-we-work-section-one .how-section-one .how-cards .card-content .img img {
    border-radius: 8px;
  }
}

@media screen and (max-width: 932px) {
  .how-we-work-section-two .how-section-two .content h2 {
    width: 90%;
    font-size: 45px;
    line-height: 78px;
  }

  .how-we-work-section-two .how-section-two .content button {
    width: 157px;
    height: 44px;
  }
}

@media screen and (max-width: 896px) {
  .how-we-work-section-one .how-section-one .how-cards {
    gap: 50px;
  }
}

@media screen and (max-width: 863px) {
  .how-we-work-section-one .how-section-one .section-heading .desc {
    width: 90%;
    margin: auto;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #1a202c83;
  }

  .how-we-work-section-one .how-section-one .how-cards .card-content .content {
    width: 50%;
    gap: 20px;
  }

  .how-we-work-section-one
    .how-section-one
    .how-cards
    .card-content
    .content
    .the-h {
    height: 74px;
    position: relative;
  }

  .how-we-work-section-one
    .how-section-one
    .how-cards
    .card-content
    .content
    .the-h
    .serial-no {
    font-size: 45px;
    font-weight: 900;
    line-height: 96px;
  }

  .how-we-work-section-one
    .how-section-one
    .how-cards
    .card-content
    .content
    .the-h
    h3 {
    font-size: 25px;
    line-height: 24px;
    left: 10px;
  }

  .how-we-work-section-one .how-section-one .how-cards .card-content .content p {
    font-size: 14px;
    line-height: 24px;
  }
}

@media screen and (max-width: 829px) {
  .how-we-work-section-two .how-section-two .content h2 {
    width: 100%;
    font-size: 40px;
    line-height: 78px;
  }

  .how-we-work-section-two .how-section-two .content button {
    width: 157px;
    height: 44px;
  }
}

@media screen and (max-width: 773px) {
  .how-we-work-section-one .how-section-one .section-heading {
    margin-bottom: 70px;
  }

  .how-we-work-section-one .how-section-one .how-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 20px;
    margin-top: -70px;
  }

  .how-we-work-section-one .how-section-one .how-cards .card-content {
    width: 80%;
    flex-direction: column;
    margin: auto;
    gap: 30px;
  }

  .how-we-work-section-one .how-section-one .how-cards .card-content .content {
    width: 100%;
    gap: 20px;
  }

  .how-we-work-section-one .how-section-one .how-cards .card-content .img {
    width: 100%;
    margin: auto;
    height: 437px;
    border-radius: 12px;
  }

  .how-we-work-section-one .how-section-one .how-cards .card-content .img img {
    object-fit: contain;
  }
  .how-we-work-section-one .how-section-one .how-cards .card-content.left {
    display: flex;
    flex-direction: column;
  }

  .how-we-work-section-one .how-section-one .how-cards .card-content .how-dots {
    display: none;
  }

  .how-we-work-section-one
    .how-section-one
    .how-cards
    .card-content
    .how-dots.left {
    display: none;
  }
}

@media screen and (max-width: 739px) {
  .how-we-work-section-one .how-section-one .section-heading {
    width: 100%;
  }

  .how-we-work-section-one .how-section-one .how-cards .card-content {
    margin-bottom: -10px;
  }
}

@media screen and (max-width: 665px) {
  .how-we-work-section-one .how-section-one .section-heading .section-title {
    width: 90%;
    font-size: 38px;
    line-height: 50px;
  }

  .how-we-work-section-one .how-section-one .how-cards .card-content {
    margin-bottom: -25px;
  }

  .how-we-work-section-two .how-section-two {
    height: 300px;
  }

  .how-we-work-section-two .how-section-two .content h2 {
    width: 100%;
    font-size: 34px;
    line-height: 58px;
  }
}

@media screen and (max-width: 600px) {
  .how-we-work-section-one .how-section-one .how-cards .card-content {
    gap: 10px;
    margin-bottom: -20px;
  }

  .how-we-work-section-one
    .how-section-one
    .how-cards
    .card-content
    .content
    .the-h {
    width: 100%;
    height: 74px;
    position: relative;
  }

  .how-we-work-section-one
    .how-section-one
    .how-cards
    .card-content
    .content
    .the-h
    .serial-no {
    text-align: center;
    position: relative;
    top: -15px;
  }

  .how-we-work-section-one
    .how-section-one
    .how-cards
    .card-content
    .content
    .the-h
    h3 {
    text-align: center;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
  }

  .how-we-work-section-one .how-section-one .how-cards .card-content .content p {
    text-align: center;
  }

  .how-we-work-section-one
    .how-section-one
    .how-cards
    .card-content
    .content
    .button {
    width: 157px;
    height: 44px;
    border-radius: 4px;
    margin: auto;
  }

  .how-we-work-section-one .how-section-one .how-cards {
    gap: 0px;
  }
}

@media screen and (max-width: 561px) {
  .how-we-work-section-one .how-section-one .section-heading .section-title {
    width: 90%;
    font-size: 32px;
    line-height: 40px;
  }

  .how-we-work-section-one .how-section-one .how-cards .card-content {
    gap: 0px;
    margin-bottom: -30px;
  }

  .how-we-work-section-two .how-section-two .content h2 {
    width: 100%;
    font-size: 30px;
    line-height: 58px;
  }
}

@media screen and (max-width: 550px) {
  .how-we-work-section-one .how-section-one .how-cards {
    gap: 10px;
  }

  .how-we-work-section-one .how-section-one .how-cards .card-content {
    gap: 10px;
    margin-bottom: -50px;
  }

  .how-we-work-section-one .how-section-one .how-cards .card-content .content {
    margin-bottom: -30px;
  }
}

@media screen and (max-width: 510px) {
  .how-we-work-section-one .how-section-one .how-cards {
    margin-top: -50px;
  }

  .how-we-work-section-one .how-section-one .how-cards .card-content {
    width: 90%;
    margin-bottom: -50px;
  }

  .how-we-work-section-one .how-section-one .how-cards .card-content .content {
    margin-bottom: -40px;
  }

  .how-we-work-section-two .section-two .content h2 {
    font-size: 26px;
    line-height: 48px;
  }
}

@media screen and (max-width: 480px) {
  .how-we-work-section-one .how-section-one .how-cards {
    gap: 0px;
  }

  .how-we-work-section-one .how-section-one .how-cards .card-content {
    gap: 0px;
    margin-bottom: -40px;
  }

  .how-we-work-section-one .how-section-one .how-cards .card-content .content {
    margin-bottom: -10px;
  }

  .how-we-work-section-one .how-section-one .how-cards .card-content .content {
    margin-bottom: -40px;
  }

  .how-we-work-section-two .how-section-two .content h2 {
    font-size: 24px;
  }
}

@media screen and (max-width: 473px) {
  .how-we-work-section-one .how-section-one .section-heading .section-title {
    width: 100%;
    font-size: 28px;
    line-height: 40px;
  }

  .how-we-work-section-one .how-section-one .how-cards .card-content {
    margin-bottom: -40px;
  }
}

@media screen and (max-width: 467px) {
  .how-we-work-section-one .section-one .how-cards .card-content {
    margin-bottom: -50px;
  }
}

@media screen and (max-width: 420px) {
  .how-we-work-section-one .how-section-one .section-heading .section-title {
    width: 90%;
    font-size: 24px;
    line-height: 40px;
  }

  .how-we-work-section-one .how-section-one .section-heading .desc {
    width: 90%;
    font-size: 16px;
  }

  .how-we-work-section-one .how-section-one .how-cards .card-content {
    margin-bottom: -70px;
  }

  .how-we-work-section-one .how-section-one .how-cards .card-content .content {
    margin-bottom: -50px;
  }
}

@media screen and (max-width: 404px) {
  .how-we-work-section-one .how-section-one .how-cards .card-content {
    width: 90%;
    margin-bottom: -70px;
  }
  .how-we-work-section-one .how-section-one .how-cards .card-content .content {
    margin-bottom: -60px;
  }

  .how-we-work-section-two .how-section-two .content h2 {
    font-size: 23px;
    line-height: 40px;
  }
}

@media screen and (max-width: 390px) {
  .how-we-work-section-one .how-section-one .how-cards {
    padding-top: 20px;
  }
}

@media screen and (max-width: 383px) {
  .how-we-work-section-one .how-section-one .how-cards {
    padding-top: 0px;
  }

  .how-we-work-section-one .how-section-one .how-cards .card-content {
    margin-bottom: -70px;
  }

  .how-we-work-section-one .how-section-one .how-cards .card-content .content {
    margin-bottom: -60px;
  }

  .how-we-work-section-one .how-section-one .how-cards {
    margin-top: 10px;
  }
}
